
body{
    background-color: blue;
    background-image:url("WhatsApp Image 2023-09-23 at 23.56.55.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top left;
    background-size: cover;
    height: 90px;
    font-family: 'Oswald', sans-serif;
   
}
.ganesh{
    width: 1400px;
    margin: 0 auto;
    color: beige;
    background-color: rgb(240, 87, 128);
    padding: px 10px;
    box-shadow: inset 1px 19px 14px 0px #3f2d2d99;
    text-shadow: 5px 4px 4px black;
    text-align: center;
   font-size:xx-large ;
}
.container{
    width: 1400px;
    margin: 0 auto;
    padding: 10px 10px;
    box-shadow:  20px 20px 11px 0px #3f2d2d99;
    


    background-color: rgba(244, 175, 175, 0.533)
    

    
}
    
.header-para{
    padding: 10px 40px;
    
    
}
h2{
    background-color: rgb(255, 170, 187);
    padding: 10px 10px;
    box-shadow: 1px 19px 14px 0px #3f2d2d99;
    text-shadow:8px -2px 12px #e4111145;
    
    
}

.table-styel-1 tr td {
    border: solid ;
    background-color: rgb(233, 108, 116);
    box-shadow: inset 1px 19px 14px 0px #3f2d2d99;
    padding: 12px 12px ;
    font-weight: bolder;
    
    

}
.table-styel-1 tr th{
    border: solid ;
    background-color: rgb(158, 233, 100);
    box-shadow: inset 1px 19px 14px 0px #3f2d2d99;
    padding: 8px 8px ;
    font-weight: bolder;

}
.list-style li{
   content: "";
   
  
}
.list-style li:before
{
    display:inline-block;
    background-color: rgb(253, 253, 255);
    height: 500px;
 
}
  a:hover {
    color: rgb(47, 21, 140);
}
